{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>室內設計 | 辦公室設計 | 室內裝修設計 | 原胚空間 | 關於我</title>
    <meta name='keyword' content="室內設計師推薦,舊屋翻新,老屋翻新,商業空間設計,新屋客變,自地自建,台北設計師,室內設計,設計公司,豪宅設計,室內設計,辦公室設計,商空設計,大坪數裝潢,豪宅裝潢,小坪數裝潢,原胚空間">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link
        rel="stylesheet"
        href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>
    <body >
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <div class="bg">
      <!-- 導航bar -->
      <header class="navbar">
          <ul>
              <li><a href="{% url 'home' %}" onclick="toggle()" style="color:{{ webinfo.about_title_color }};">HOME 首頁</a></li>
              <li><a href="{% url 'works' %}" onclick="toggle()" style="color:{{ webinfo.about_title_color }};">WORKS 作品</a></li>
              <li><a href="{% url 'about' %}" onclick="toggle()" style="color:{{ webinfo.about_title_color }};">AWARDS 獲獎經歷</a></li>
              <li><a href="{% url 'services' %}" onclick="toggle()" style="color:{{ webinfo.about_title_color }};">SERVICES 服務</a></li>
              <li><a href="{% url 'contact' %}" onclick="toggle()"style="color:{{ webinfo.about_title_color }};">CONTACT 聯絡資訊</a></li>
          </ul>
          <div class="toggle" onclick="toggle()"></div>
      </header>
      <!-- 內容 -->
      <div class="worbox">
          <div class="wrapper1">
            <img src="{% static '/image/about/人物.jpg' %}" alt="" />
            <div class="info">
              <span style="color: white;">周泊杰</span>
              <span class="gray">Pao Chieh</span>
              <p class="gray">原胚設計 總監</p>
            </div>
          </div>
          <div class="wrapper2">
            <div class="company_info_en">
              <p class="company_en_title">Central Idea</p>
              <p class="company_en_content gray">
                Yuanpei interior DecorationCo., Ltd. was originally founded by a
                young man who loves interior design. After being cultivated by the
                industry, he has accumulated professional qualities and personal
                characteristics. Starting from the drawing, we care about the
                weight and thickness of each line. The picture should be clean and
                concise, clearly expressing the construction details and
                dimensional logic. In terms of design, we integrate the needs of
                customers, integrate design elements into it, and create exclusive
                works for users.
              </p>
            </div>
            <div class="winner_info">
              <div class="winner_title">國際指標大獎</div>
              <p class="gray">￭ iF DESIGN AWARD WINNER（2024）</p>
              <p class="gray">￭ ASIA DESIGN PRIZE WINNER（2024）</p>
              <p class="gray">￭ International Design Awards  (IDA) - 銀獎（2023）</p>
              <p class="gray">￭ UNDER 40當代設計傑出青年（2023）</p>
              <p class="gray">￭ TINTA 金邸獎（2023）</p>
              <p class="gray">￭ 義大利A' Design Award 工作空間銅獎（2023）</p>
              <p class="gray">￭ 義大利A' Design Award 工作空間銀獎（2023）</p>
              <p class="gray">￭ Muse Design Awards 住宅空間銀獎（2022）</p>
            </div>
            <div class="swiper-container mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎5.png' %}" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎1.png' %}" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎2.png' %}" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎3.png' %}" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎4.png' %}" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="{% static '/image/about/得獎6.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper3">
            <div class="winner_title">媒體雜誌報導</div>
            <a
              class="gray"
              href="https://www.interior-mj.com.tw/index.php?action=indoorFocusCase&id=469"
              target="_blank"
            >
              ￭《室內interior》-第359期/蘊巢。
            </a>
            <a
              class="gray"
              href="https://www.100.com.tw/article/4180"
              target="_blank"
            >
              ￭《100室內設計》-頂樓還能這樣改造 !
            </a>
            <a
              class="gray"
              href="https://www.100.com.tw/article/6219"
              target="_blank"
            >
              ￭《100室內設計》-將涵洞搬進診所！自由曲面的涵洞美學
            </a>
            <a
              class="gray"
              href="https://www.we-heart.com/2023/06/12/a-design-award-2024-early-call-for-entries/"
              target="_blank"
            >
              ￭&nbsp;&nbsp;義大利媒體 WeHeart報導- A' Design Award 徵集
            </a>
            <div class="magazine_img">
              <img src="{% static '/image/about/雜誌1.png' %}" alt="" />
            </div>
          </div>
      </div>
      <div class="footer">
        {% if webinfo.phone and webinfo.year %}
            <p style="color:{{ webinfo.footer_text_color}};">@{{ webinfo.year }} 原胚設計 │TEL：{{ webinfo.phone }}│</p>
        {% else %}
            <p>@2020 原胚設計 │TEL： 0937-738-036│</p>
        {% endif %}
      </div>
    </div>
    <!-- <div class="blackbg"></div> -->
    <!--  -->
    <!-- script -->
    <script src="{% static 'js/tools.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
    <!--  -->
</body>
</html>