{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>裝潢 | 裝修設計 | 原胚空間</title>
    <link rel="stylesheet" href="{% static 'css//style.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="navbar">
        <a href="" class="logo">原胚空間</a>
        <ul>
            <li></li><a href="{% url 'home' %}" onclick="toggle()">主頁</a></li>
            <li><a href="{% url 'about' %}" onclick="toggle()">關於我</a></li>
            <!-- <a href="#about">關於我</a> -->
            <li><a href="{% url 'services' %}" onclick="toggle()">服務</a></li>
            <li><a href="{% url 'works' %}" onclick="toggle()">作品集</a></li>
            <li><a href="#team" onclick="toggle()">團隊</a></li>
            <li><a href="{% url 'contact' %}" onclick="toggle()">聯絡我</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>
    <!-- Banner -->
    <section class="banner" id="home">
        <h2>We Make <span>Brands</span> Matter</h2>
    </section>
    <!-- about -->
    <section class="sec" id="about">
        <div class="content">
            <div class="mxw800p">
                <h3>關於原胚</h3>
                <p>
                    薑不是只有老的辣，但只有老薑可以燉出暖胃潤肺、夠火侯的美味。我們的團隊有豐富的經驗，並以誠懇的服務精神來提供專業的解決方案。
                    想多了解我們？您可以再靠近一點<br>
                    - 挑 戰 你 不 曾 想 過 的 搭 配 -<br>
                    - 創 造 出 乎 意 料 的 價 值 -<br>
                        - 享 受 舒 適 的 生 活 -
                </p>
                <a href="#" class="btn">我們的故事</a>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="sec" id="services">
        <div class="content">
            <div class="mxw800p">
                <h3>服務</h3>
                <p>
                    不管小坪數、大坪數、新成屋、舊屋翻修都能給您最高品質的服務
                </p>
            </div>
            <div class="services">
                <div class="box">
                    <div class="iconBx">
                        <img src="{% static 'image/banner/test1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <h2>設計</h2>
                        <p>理念</p>
                    </div>
                </div>
                <div class="box">
                    <div class="iconBx">
                        <img src="{% static 'image/banner/test1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <h2>設計2</h2>
                        <p>理念2</p>
                    </div>
                </div>
                <div class="box">
                    <div class="iconBx">
                        <img src="{% static 'image/banner/test1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <h2>設計3</h2>
                        <p>理念3</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Stats -->
    <section class="sec stats">
        <div class="content">
            <div class="mxw800p">
                <h3>我們的成就</h3>
                <p>
                    打造客戶心中溫暖的家
                </p>
            </div>
            <div class="statsBox">
                <div class="box">
                    <h2>1200+</h2>
                    <h4>Projects</h4>
                </div>
                <div class="box">
                    <h2>800+</h2>
                    <h4>Happy Clients</h4>
                </div>
                <div class="box">
                    <h2>150+</h2>
                    <h4>Countries</h4>
                </div>
                <div class="box">
                    <h2>50+</h2>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section class="sec work" id="portfolio">
        <div class="content">
            <div class="mxw800p">
                <h3>Recent Work</h3>
                <p>
                    室內設計的價值在於改善格局與機能，創意能結合需求讓優質的環境提升生活品質。<br>
                    傾聽、尊重、品質、敏捷。量身訂製就代表著專屬於您的獨一無二。請讓我們的細心與專業來成就您關於住家設計的一切想像。
                </p>
            </div>
            <div class="workBx">
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
                <div class="brand">
                    <a href="#"><h2>Brand Nmae</h2></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="sec work" id="team">
        <div class="content">
            <div class="mxw800p">
                <h3>我們的專家</h3>
                <p>
                    室內設計的價值在於改善格局與機能，創意能結合需求讓優質的環境提升生活品質。<br>
                    傾聽、尊重、品質、敏捷。量身訂製就代表著專屬於您的獨一無二。<br>請讓我們的細心與專業來成就您關於住家設計的一切想像。
                </p>
            </div>
            <div class="teamBx">
                <div class="member">
                    <div class="imgBx">
                        <img src="{% static 'image/banner/people1.jpg' %}" alt="">
                    </div>
                    <div class="details">
                        <div>
                            <h2>John<br><span>Creative Director</span></h2>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="imgBx">
                        <img src="{% static 'image/banner/people2.jpg' %}" alt="">
                    </div>
                    <div class="details">
                        <div>
                            <h2>John<br><span>Creative Director</span></h2>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="imgBx">
                        <img src="{% static 'image/banner/people3.jpg' %}" alt="">
                    </div>
                    <div class="details">
                        <div>
                            <h2>John<br><span>Creative Director</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="sec contact" id="contact">
        <div class="content">
            <div class="mxw800p">
                <h3>聯絡我們</h3>
                <p>現在就來電，讓我們進一步了解您的需求，立即預約體驗我們的專業與服務</p>
            </div>
            <div class="contactForm">
                <form action="">
                    <div class="row100">
                        <div class="inputBx50">
                            <input type="text" name='' placeholder="Full Name">
                        </div>
                        <div class="inputBx50">
                            <input type="text" name='' placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <textarea placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <input type="submit" name="" value="send">
                        </div>
                    </div>
                </form>
            </div>
                 <!-- link -->
            <div class="sci">
                <ul>
                    <li><a href="#"><img src="{% static 'image/banner/facebook.png' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'image/banner/ig.png' %" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="{% static 'js/Animation2.js' %}"></script>
</body>
</html>