{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 動態 title -->
    <title>{{ project.c_title }} | 原胚室內設計裝修</title>

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'css/simplebar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/work_detail.css' %}" />
  </head>

  <body>
    <!-- 導航 bar -->
    {% include 'partials/_navbar.html' %}

    <!-- 當前作品區塊 -->
    <div class="workbox">
      <div class="wrapsroll" data-simplebar>
        <h3 class="title">{{ project.c_title }}</h3>
        <div class="line"></div>
        <h1 class="entitle">{{ project.e_title }}</h1>
        <p class="content">{{ project.body|safe }}</p>

        {% for img in project.images.all %}
          <a href="{{ img.image.url }}"
             data-lightbox="mygallery"
             data-title="{{ img.title }}">
            <img src="{{ img.image.url }}" alt="{{ img.title }}" />
          </a>
        {% endfor %}

        <a href="{% url 'works_list' tag_id=project.project_tag.id %}"
           class="btn">Back</a>
      </div>
    </div>

    <!-- 其他作品區塊 -->
    <div class="otherWorkbox">
      <div class="wrapsroll" data-simplebar>
        {% for p in other_projects %}
          <div class="iteam">
            <a href="{% url 'works_detail'
                           tag_id=p.project_tag.id
                           project_slug=p.slug %}">
              <img src="{{ p.preview_img.url }}" alt="{{ p.c_title }}" />
              <div class="details">
                <h2>{{ p.c_title }}</h2>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/work_detail.js' %}"></script>
  </body>
</html>
