{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>室內設計 | 辦公室設計 | 室內裝修設計 | 原胚空間 | 作品分類</title>
    <meta name='keyword' content="室內設計師推薦,舊屋翻新,老屋翻新,商業空間設計,新屋客變,自地自建,台北設計師,室內設計,設計公司,豪宅設計,室內設計,辦公室設計,商空設計,大坪數裝潢,豪宅裝潢,小坪數裝潢,原胚空間">
    <meta name='description' content="追求卓越，高品質的服務，不論是美感、空間規劃期待做的更好">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/works.css' %}">
</head>
      <body>
      <!-- navbar -->
      <header class="navbar">
        <ul>
            <li><a href="{% url 'home' %}" onclick="toggle()" style="color:{{ webinfo.work_title_color }};">HOME 首頁</a></li>
            <li><a href="{% url 'works' %}" onclick="toggle()" style="color:{{ webinfo.work_title_color }};">WORKS 作品</a></li>
            <li><a href="{% url 'about' %}" onclick="toggle()" style="color:{{ webinfo.about_title_color }};">AWARDS 獲獎經歷</a></li>
            <li><a href="{% url 'services' %}" onclick="toggle()" style="color:{{ webinfo.work_title_color }};">SERVICES 服務</a></li>
            <li><a href="{% url 'contact' %}" onclick="toggle()"style="color:{{ webinfo.work_title_color }};">CONTACT 聯絡資訊</a></li>
        </ul>
            <div class="toggle" onclick="toggle()"></div>
        </header>

         <!-- 背景 -->
        {% if webinfo.work_bg %}
            <div class="bg" style="background:url('{{ webinfo.work_bg.url }}') no-repeat; background-size: cover; background-position: center;"></div>
        {% else %}
            <div class="bg" style="background-color: #ececec;"></div>
        {% endif %}
        <!--  -->

      <div class="worksbox">
        <div class="workslogo">
            <div class="content">
                <h1 style="color:{{ webinfo.works_text_color}};">PORJECT | 作品</h1>
                {% if tags %}
                    {% for tag in tags %}
                    <a href="{% url 'works_list' tag_id=tag.id %}"><p style="color:{{ webinfo.works_text_color}};">{{ tag.e_title }}<br>{{ tag.c_title }}</p></a>
                    {% endfor%}
                {% else %}
                    <a href="{% url 'works_list' tag_id=1 %}"><p style="color:{{ webinfo.works_text_color }};">Commercial<br>商  空  設  計</p></a>
                    <a href="{% url 'works_list' tag_id=2 %}"><p style="color:{{ webinfo.works_text_color }};">Residential<br>住  宅  設  計</p></a>
                {% endif %}
                <div class="line"></div>
            </div>
        </div>
      </div>
      <div class="footer">
            {% if webinfo.phone and webinfo.year %}
                <p style="color:{{ webinfo.footer_text_color}};">@{{ webinfo.year }} 原胚設計 │TEL：{{ webinfo.phone }}│</p>
            {% else %}
                <p>@2020 原胚設計 │TEL： 0937-738-036│</p>
            {% endif %}
       </div>

      <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>