@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* 標題 */
.title{
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 100px;
    /* background: rgb(255, 255, 255); */
    text-align: center;
}

.title p{
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;

}

.title p:nth-child(2){
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.title .line{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 60px;
    height: 2px;
    background: rgb(94, 94, 94);
}
/* -------------------------------- */
/* 資訊 */
.contactInfo{
    position: absolute;
    left: 54%;
    top: 63%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 400px;
}

.contactInfo .info{
    position: relative;
    width: 100%;
    height: 100px;
    /* background: rgb(37, 37, 37); */
}

.contactInfo .info svg{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
    fill: white;
}

.contactInfo .info p{
    position: relative;
    top: 0%;
    left: 10%;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 4px;
    line-height: 40px;
    white-space: nowrap;
    color: #b3b3b3;
}

.contactInfo .linkIcon{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.contactInfo .linkIcon .btn{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #110b089c;
    margin: 10px;
    border-radius: 30%;
    /* box-shadow:  0 5px 15px -5px #000070; */
    overflow: hidden;
}

.contactInfo .linkIcon .btn::before{
    content: '';
    position: absolute;
    display: block;
    width: 120%;
    height: 120%;
    background: #2f3542;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.contactInfo .linkIcon .btn:hover::before{
    animation: iconAt 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes iconAt{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}

.contactInfo .btn svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 35px;
    fill: #b3b2b1;
    transition: 0.2s linear;
}

.contactInfo .btn:hover svg{
    height: 28px;
    fill:#f1f1f1;
}

.contactInfo .btn:nth-child(1){
    margin: 10px 10px 0 0;
}
/*------------------ 資訊end -----------------*/


@media(max-width: 992px){
 
    .contactInfo{
        position: absolute;
        width: 100%;
        max-width: 500px;
        height: 400px;
        /* background: #3498db; */
        top: 63%;
        left: 48%;
        text-align: start;
    }


    .contactInfo .info svg{
        left: 7%;
    }

    .contactInfo .info p {
        left: 14%;
        white-space: unset;
    }

    .contactInfo .linkIcon{
        width: 100%;
        left: 3%;
        top: 10%;
        transform: translate(0,0);
        text-align: start;
        justify-content: center;
    }

    .contactform{
        position: absolute;
        transform: translate(0%,0%);
        top: 125%;
        left: 10%;
        width: 80%;
    }

}


