@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

.footer{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,0);
    text-align: center;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    font-size: 14px;
    color: rgb(255 241 214);
    white-space:nowrap;
    letter-spacing: 2px;
}